rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /telemetry/{telemetryId} {
      allow read, write: if true;
    }
    match /control/{controlId} {
      allow read, write: if true;
    }
  }
}
